.item {
    border-radius: 10px;
    overflow: hidden;
    padding: 1em;
    background: #ffffff10;
    margin: 1em;
    max-width: 512px;

    h2 {
        margin-top: 1em;
        margin-bottom: 0.5em;
        font-size: large;
        font-weight: 700;
    }

    small {
        font-size: 14px;
    }

    img {
        border-radius: 10px;
    }
}
